*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: "Kumbh Sans";
}

h2{
    margin-bottom: 0%;
    font-weight: 700;
}

h2 span{
    color: hsl(0, 0%, 59%);
}
p{
    margin-top: 0.5em;
    color:hsl(0, 0%, 59%);
}

.container{
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg) , url(./images/bg-pattern-bottom.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left -750px top -550px, bottom -550px right -700px ;
}

.card{
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 20px;
}

img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    border: 5px solid white;
    top: 50px;

}

.top{
    background-image: url(./images/bg-pattern-card.svg);
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.middle{
    padding-top: 4em;
    text-align: center;
}

.down{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid hsl(0, 0%, 59%);
}
.down__text{
    text-align: center;
}


@media(min-width:1440px){
    .container{
        background-position: left -220px top -530px, bottom -550px right -220px ;
    }
}